<html>
  <head>
    <%= stylesheet_link_tag 'scaffolds', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <h1>Bem Vindo</h1>
    <p> Escreva alguma coisa aqui...</p>
    </body>
</html>